In [8]:
from __future__ import print_function

import math
from IPython import display
from matplotlib import cm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows=10
pd.options.display.float_format= '{:.1f}'.format

In [9]:
california_housing_dataframe=pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

In [10]:
california_housing_dataframe=california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe['median_house_value']/=1000.0
california_housing_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
8277,-118.5,34.2,18.0,2729.0,800.0,2099.0,742.0,2.6,230.8
15620,-122.4,40.6,20.0,3592.0,868.0,1865.0,781.0,2.0,64.8
13753,-122.0,39.2,50.0,1592.0,372.0,781.0,307.0,2.3,69.1
16814,-123.2,40.5,16.0,241.0,84.0,152.0,61.0,1.4,48.8
16813,-123.2,39.1,26.0,1474.0,417.0,1065.0,401.0,1.4,84.4
...,...,...,...,...,...,...,...,...,...
5632,-118.2,34.0,37.0,2115.0,580.0,2842.0,572.0,2.2,121.3
15452,-122.3,37.9,38.0,1794.0,349.0,810.0,335.0,3.8,191.4
1053,-117.1,33.8,17.0,4174.0,851.0,1845.0,780.0,2.3,96.1
12215,-121.5,39.0,34.0,2129.0,350.0,969.0,314.0,2.7,106.3
12675,-121.8,38.6,11.0,15018.0,3008.0,7984.0,2962.0,3.1,201.8

In [11]:
#examine the data
california_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0
mean,-119.6,35.6,28.6,2643.7,539.4,1429.6,501.2,3.9,207.3
std,2.0,2.1,12.6,2179.9,421.5,1147.9,384.5,1.9,116.0
min,-124.3,32.5,1.0,2.0,1.0,3.0,1.0,0.5,15.0
25%,-121.8,33.9,18.0,1462.0,297.0,790.0,282.0,2.6,119.4
50%,-118.5,34.2,29.0,2127.0,434.0,1167.0,409.0,3.5,180.4
75%,-118.0,37.7,37.0,3151.2,648.2,1721.0,605.2,4.8,265.0
max,-114.3,42.0,52.0,37937.0,6445.0,35682.0,6082.0,15.0,500.0